# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/DEV204x/Module_1/Properties/AssemblyInfo.cs
/DEV204x/Module_1/obj/Debug
/DEV204x/Module_1/bin/Debug
/ConsoleApplication1/ConsoleApplication1/bin/Debug
/ConsoleApplication1/ConsoleApplication1/obj/Debug
/ConsoleApplication1/ConsoleApplication1/Properties/AssemblyInfo.cs
/DEV204x/Module_2/bin/Debug
/DEV204x/Module_2/obj/Debug
/DEV204x/Module_3/obj/Debug
/DEV204x/Module_3/bin/Debug
/DEV204x/Module_3/Properties/AssemblyInfo.cs
/DEV204x/Module_5/obj/Debug
/DEV204x/Module_5/bin/Debug
/DEV204x/Module_5/Properties/AssemblyInfo.cs
/DEV204x/Module_6/obj/Debug
/DEV204x/Module_6/bin/Debug
/DEV204x/Module_6/Properties/AssemblyInfo.cs
/DEV204x/Module_8/obj/Debug
/DEV204x/Module_8/bin/Debug
/DEV204x/Module_8/Properties/AssemblyInfo.cs
/DEV204x/Module_9/obj/Debug
/DEV204x/Module_9/bin/Debug
/DEV204x/LINQ - Ordering Operators/C#/OrderingOperators/Properties/AssemblyInfo.cs
/DEV204x/LINQ - Ordering Operators/C#/OrderingOperators/obj/x86/Debug
/DEV204x/LINQ - Ordering Operators/C#/OrderingOperators/bin/Debug
/DEV204x/LINQ - Restriction Operators/C#/RestrictionOperators/Properties/AssemblyInfo.cs
/DEV204x/LINQ - Restriction Operators/C#/RestrictionOperators/obj/x86/Debug
/DEV204x/LINQ - Restriction Operators/C#/RestrictionOperators/bin/Debug
/DEV204x/Mod11_Assignment/Mod11_Assignment/obj/Debug
/DEV204x/Mod11_Assignment/Mod11_Assignment/bin/Debug
